<!DOCTYPE html>
<div>
    <h1>{{title}}</h1>
    <hr>
    <form name="form" class="form-horizontal" novalidate ng-submit="form.$valid && change()">
        <h3>META</h3>
        <div class="form-group" ng-class="{'has-error': form.sub && !form.titel.$valid}">
            <label class="col-md-4 control-label">Seitentitel</label>
            <div class="col-md-8">
                <input type="text" name="titel" class="form-control" ng-model="data.meta_title" required>
                <span class="help-block" ng-show="form.sub && form.titel.$error.required">Erforderlich!</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Description</label>
            <div class="col-md-8">
                <textarea rows="5" class="form-control" ng-model="data.meta_description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Keywords</label>
            <div class="col-md-8">
                <textarea rows="5" class="form-control" ng-model="data.meta_keywords"></textarea>
            </div>
        </div>
        <hr>
        <h3>Analytics</h3>
        <div class="form-group">
            <label class="col-md-4 control-label">Google</label>
            <div class="col-md-8">
                <input type="text" name="analytics" class="form-control" placeholder="ID" ng-model="data.google_analytics_id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Piwik</label>
            <div class="col-md-8">
                <input type="text" name="piwikUrl" class="form-control" placeholder="URL" ng-model="data.piwik_url">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input type="text" name="piwikSeiteID" class="form-control" placeholder="ID" ng-model="data.piwik_id">
            </div>
        </div>
        <hr>
        <h3>Robots</h3>
        <div class="form-group">
            <label class="col-md-4 control-label">Robots.txt</label>
            <div class="col-md-8">
                <textarea rows="5" class="form-control" ng-model="data.robots"></textarea>
            </div>
        </div>
        <div class="form-group">
			<label class="col-md-4 control-label">Sitemap</label>
			<div class="col-md-8">
				<div class="checkbox">
					<label><input type="checkbox" ng-true-value="1"  ng-false-value="0" string-to-number ng-model="data.sitemap"> Aktiv</label>
				</div>
			</div>
		</div>
        <hr>
        <div class="pull-right has-error">
            <span class="help-block" ng-show="form.sub && !form.$valid">Eingaben überprüfen!</span>
            <button type="submit" ng-click="form.sub=true" class="pull-right btn btn-success">Ändern</button>
        </div>
    </form>
</div>